{% load static %}
<!DOCTYPE html>
<html>
	<head>
		<title>Landing Page</title>
		<!-- <link rel= "stylesheet" type="text/css" href="{%static 'css/style.css'%}"> -->
		<link rel="stylesheet" type="text/css" href="{%static 'css/bootstrap.min.css' %}">
	</head>
	<body>
		<header class="container-fluid">
			{% include 'nav.html' %}

			<div class="row mt-5 pt-2">
				<div class="col-12 col-md-2 m-0 p-0">
					{% block sidebar %}
						{% include 'sidebar.html' %}
					{% endblock %}
				</div>

				<div class="col-12 col-md-10 p-0">
					{% block body %}
						
					{% endblock %}
					{% block posts %}
					{% endblock %}
				</div>

			</div>


		</header>


		<script src ="{% static 'js/jquery-min.js' %}"></script>
		<script src="{% static 'js/popper.min.js' %}"></script>
		<script src="{% static 'js/bootstrap.min.js' %}"></script>
	</body>
</html>