<div class="bg-dark mr-3" style="height: 100%;">
    <nav id="sidebar">
    	<div class="container py-5">
	        <ul class="list-unstyled components mb-5">
	        	<li class="mb-3">
	        		<a class="btn btn-dark btn-block" href="{% url 'home' %}"> Home </a>
	        	</li>
	            <li class="mb-3">
	                <a href="/posts" class="btn btn-dark btn-block">Profile</a>
	            </li>
	            <li class="mb-3">
	                <a href="#" class="btn btn-dark btn-block">About</a>
	            </li>
	            <li class="active mb-3">
	                <a href="#homeSubmenu" data-toggle="collapse" class="dropdown-toggle btn btn-dark btn-block"><b>Categories</b></a>
	                <ul class="collapse list-unstyled" id="homeSubmenu">
	                    <li class="mt-3">
	                    	<div class="row">
	                    		<div class="col-6">
	                    			<a href="/posts/Category/1" class="btn btn-dark">Sports</a>
	                    		</div>
	                    		<div class="col-6">
	                    			<button class="btn btn-primary btn-sm" data-toggle="collapse" data-text-alt="unsubscribe">
									  subscribe
									</button>
	                    		</div>
	                    	</div>
	                    </li>
	                </ul>
	            </li>
	            <li>
	                <a href="#" class="btn btn-dark btn-block">Contact</a>
	            </li>
	        </ul>
	    </div>
    </nav>
</div>