<div class="bg-dark" style="height: 35rem; width: 10rem; position: fixed;">

		    <nav id="sidebar">

		        <ul class="list-unstyled components">
		            <li class="mb-3">
		                <a href="#" class="btn btn-dark">Home</a>
		            </li>
		            <li class="mb-3">
		                <a href="#" class="btn btn-dark">About</a>
		            </li>
		            <li class="active mb-3">
		                <a href="#homeSubmenu" data-toggle="collapse" class="dropdown-toggle btn btn-dark"><b>Categories</b></a>
		                <ul class="collapse list-unstyled" id="homeSubmenu">
		                    <li class="mb-3">
		                    	<div class="row">
		                    		<div class="col">
		                    			<a href="#" class="btn btn-dark">Sports</a>
		                    		</div>
		                    		<div class="col">
		                    			<button class="btn btn-primary btn-sm" data-toggle="collapse" data-text-alt="unsubscribe">
										  subscribe
										</button>
		                    		</div>
		                    	</div>
		                    </li>
		                    <li class="mb-3">
		                    	<div class="row">
		                    		<div class="col">
		                    			<a href="#" class="btn btn-dark">Politics</a>
		                    		</div>
		                    		<div class="col">
		                    			<button class="btn btn-primary btn-sm" data-toggle="collapse" data-text-alt="unsubscribe">
										  subscribe
										</button>
		                    		</div>
		                    	</div>
		                    </li>
		                    <li class="mb-3">
		                    	<div class="row">
		                    		<div class="col">
		                    			<a href="#" class="btn btn-dark">News</a>
		                    		</div>
		                    		<div class="col">
		                    			<button class="btn btn-primary btn-sm" data-toggle="collapse" data-text-alt="unsubscribe">
										  subscribe
										</button>
		                    		</div>
		                    	</div>
		                    </li>
		                </ul>
		            </li>
		            <li>
		                <a href="#" class="btn btn-dark">Contact</a>
		            </li>
		        </ul>
		    </nav>
		</div>