<div class="bg-dark" style="height: 35rem; width: 10rem; position: fixed;">

		    <nav id="sidebar">

		        <ul class="list-unstyled components">
		            <li class="mb-3">
		                <a href="/posts" class="btn btn-dark">Home</a>
		            </li>
		            <li class="mb-3">
		                <a href="/posts/list/" class="btn btn-dark">About</a>
		            </li>
		            <li class="active mb-3">
		                <a href='#homeSubmenu' data-toggle="collapse" class="dropdown-toggle btn btn-dark"><b>Categories</b></a>
		                <ul class="collapse list-unstyled" id="homeSubmenu">
		                	{% for cat in all_cat %}
		                    <li class="mb-3">
		                    	<div class="row">
		                    		<div class="col">
		                    			<a href='/posts/Category/{{cat.id}}' class="btn btn-dark">{{cat.category_name}}</a>
		                    		</div>
		                    		<form method="POST" action="/posts/subscribe/{{cat.id}}">
		                    			{% csrf_token %}
		                    		<div class="col">
		                    			{% if cat in sub_cat  %}
		                    			<input type="hidden" name="subscribe" value="0">
		                    			<button class="dtn btn-info text-white ml-sm-5">Unsubscribe</button> 
		                    			{% else %}
		                    			<input type="hidden" name="subscribe" value="1">
		                    			<button class="dtn btn-info text-white ml-sm-5">subscribe</button> 
		                    			{% endif %}
		                    		</div>
		                    	</form>
		                    	</div>
		                    </li>
		                    {% endfor %}
		                    		               
		                </ul>
		            </li>
		            <li>
		                <a href="/posts/catlist/" class="btn btn-dark">Contact</a>
		            </li>
		        </ul>
		    </nav>
		</div>
		